# Supabase values
SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=

SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# local site urls
SITE_URL=
NEXT_PUBLIC_SITE_URL=

# OAuth google client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

NODE_ENV=